<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/manager/layout"
>
  <head>
    <meta charset="utf-8" />
    <title>Cash truck</title>
  </head>
  <body th:object="${user}">
    <main layout:fragment="content">
      <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        th:if="${errorMessage}"
      >
        <span th:text="${errorMessage}"></span>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>

      <div class="overlay">
        <div class="overlay-content">
          <div class="profile-container">
            <h5 class="text-center info-card-font bold mb-5">
              Profile Information
            </h5>
            <hr />
            <h5 class="text-center info-card-font bold mb-3">Avatar</h5>
            <div class="container">
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <div
                    class="image-preview d-flex justify-content-center align-items-center"
                  >
<!--                  <img id="preview" class="rounded-3 custom-back-grey mx-auto d-block mb-3" th:if="${user.avatar == null}" height="110" width="110" >-->

                    <img
                      id="preview"
                      class="rounded-3 custom-back-grey mb-3"
                      th:if="${user.avatar != null}"
                      th:src="'data:image/jpeg;base64,' + ${user.avatar}"
                      height="110"
                      width="110"
                      alt="Avatar"
                    />
                    <!-- Placeholder if there is no avatar -->
                    <div
                      th:unless="${user.avatar != null}"
                      class="rounded-3 custom-back-grey mb-3"
                      style="height: 110px; width: 110px"
                    ></div>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                  <div>
                    <p th:text="${user.role}"></p>
                  </div>
                </div>
              </div>
            </div>

            <script>
              function previewImage(input) {
                var preview = document.getElementById("preview");
                var uploadedImage = document.getElementById("uploadedImage");
                var file = input.files[0];

                if (file) {
                  var reader = new FileReader();

                  reader.onload = function (e) {
                    preview.src = e.target.result;
                  };

                  reader.readAsDataURL(file);
                  // Show the preview image and hide the uploaded image
                  preview.style.display = "block";
                  uploadedImage.style.display = "none";
                }
              }

              function clearImage() {
                var preview = document.getElementById("preview");
                var uploadedImage = document.getElementById("uploadedImage");
                var fileInput = document.querySelector(".form-control-file");
                preview.src = "";
                fileInput.value = "";
              }
            </script>
            <hr />
            <h5 class="text-center info-card-font bold mb-5">Information</h5>
            <div class="row mb-4">
              <div class="col">
                <div class="profile-atribute">First name</div>
                <div class="form-outline">
                  <div class="form-control" th:text="*{firstName}"></div>
                </div>
              </div>
              <div class="col">
                <div class="profile-atribute">Last Name</div>
                <div class="form-outline">
                  <div class="form-control" th:text="*{lastName}"></div>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="profile-atribute">Email</div>
                <div class="form-outline">
                  <div class="form-control" th:text="*{email}"></div>
                </div>
              </div>
              <div class="col">
                <div class="profile-atribute">Password</div>
                <div class="form-outline">
                  <div class="form-control" th:text="*{password}"></div>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col">
                <div class="profile-atribute">Language</div>
                <div class="form-outline">
                  <div class="form-control" th:text="*{language}"></div>
                </div>
              </div>
              <div class="col">
                <div class="profile-atribute">Country</div>
                <div class="form-outline">
                  <div class="form-control" th:text="*{country}"></div>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col-6">
                <div class="profile-atribute">Phone Number</div>
                <div class="form-control" th:text="*{phoneNumber}"></div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <div class="mb-4">
                <a
                  th:href="@{'/managers/' + ${manager.id} + '/users'}"
                  class="btn mt-2 custom-back-grey"
                  style="width: 240px"
                  >Back</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
