.nav-link {
  color: inherit; 
  text-decoration: none;  
}


.my-container { 
    font-size: 18px;
    color: grey; 
    border-radius: 8px;
    background-color: white;
    border: 2px  ; 
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
} 

    /* --- navbar styles ---*/
    .line-container {
      display: flex;
      align-items: center;
      margin: 10px 0;
    } 

    .line-left {
      flex-grow: 1;
      border-top: 1px solid #ccc;
      margin-right: 10px; 
    }
    
    .line-text {
      font-weight: bold; 
    }

    .line-right {
      flex-grow: 1;
      border-top: 1px solid #ccc;
      margin-left: 10px; 
    }