<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/client/layout">
<head>
    <meta charset="utf-8"/>
    <title>Cash Truck</title>
</head>
<body th:object="${client}">
<main layout:fragment="content">
    <div class="container">
        <h1>Accept a payment</h1>
        <form id="payment-form">
            <div id="payment-element"></div>
            <div id="error-messages"></div>
            <button id="submit">Pay</button>
        </form>
    </div>
    <script>
        const stripe = Stripe("pk_test_51PDMQi2N1Bginh2bUyYqHhWzip5F9uR8B2BFcGtBorVSDcThERpj5eNYK4gOqrGyUaoQ79aZdb8e0Lt7RfnLsFaM00Qhes8t5J");
        let elements;
        let clientSecret;

        fetch('/api/payment/create-payment-intent', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                clientSecret = data.clientSecret;
                elements = stripe.elements();
                const paymentElement = elements.create('payment');
                paymentElement.mount('#payment-element');
            })
            .catch(error => console.error('Error:', error));

        const form = document.getElementById('payment-form');
        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            const {error} = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    return_url: window.location.href,
                }
            });
            if (error) {
                document.getElementById('error-messages').textContent = error.message;
            }
        });
    </script>
</main>
</body>
</html>
