<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/manager/layout"
>
<head>
    <meta charset="utf-8"/>
    <title>Cash truck</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">

</head>
<body th:object="${manager}">
<main layout:fragment="content">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-3 custom-dark-grey">Plans</h1>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <!-- Free Plan -->
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal custom-dark-grey">Free</h4>
                </div>
                <div class="card-body my-container">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>3 cards support</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <div th:if="${client_plan == 'FREE'}" class="btn btn-lg btn-block btn-primary">Current plan</div>
                    <a th:if="${client_plan != 'FREE'}" th:href="@{'/maangers/premium/payment_form?plan=FREE'}" class="btn btn-lg btn-block btn-outline-primary">Choose</a>
                </div>
            </div>
            <!-- Plus Plan -->
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal custom-dark-grey">Plus</h4>
                </div>
                <div class="card-body my-container">
                    <h1 class="card-title pricing-card-title">$5 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 card supports</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <div th:if="${client_plan == 'PLUS'}" class="btn btn-lg btn-block btn-primary">Current</div>
                    <a th:if="${client_plan != 'PLUS'}" th:href="@{'/managers/premium/payment_form?plan=PLUS'}" class="btn btn-lg btn-block btn-outline-primary">Choose</a>
                </div>
            </div>
            <!-- Pro Plan -->
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal custom-dark-grey">Professional</h4>
                </div>
                <div class="card-body my-container">
                    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>unlimited card supports</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <div th:if="${client_plan == 'PRO'}" class="btn btn-lg btn-block btn-primary">Current</div>
                    <a th:if="${client_plan != 'PRO'}" th:href="@{'/managers/premium/payment_form?plan=PRO'}" class="btn btn-lg btn-block btn-outline-primary">Choose</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
