<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/client/layout"
>
<head>
    <meta charset="utf-8"/>
    <title>Cash truck</title>
</head>
<body>
<content layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="card p-0 col-6 mb-4 border-radius-16" style="overflow: hidden;">
            <div class="card-header py-3">
                Add USA and Canada banks (Plaid)
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</content>
</body>
</html>
