<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/client/layout"
>
<head>
    <meta charset="utf-8" />
    <title>Cash truck</title>
</head>
<body>
<content layout:fragment="content">
    <script th:inline="javascript">
        function validateForm() {
            var selectedBankName = document.getElementById('bankNameButton').value;
            if (!selectedBankName || selectedBankName.trim() === '') {
                alert('Please select a bank name');
                return false;
            }
            return true;
        }
    </script>
    <div class="mt-4" style="margin-left: 60px;">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h5 class="mb-0">Card details</h5>
            </div>
            <div class="card-body">
                <form method="post" th:object="${bank_card}" th:action="@{'/clients/bank_cards/save'}" onsubmit="return validateForm();">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="dropdown">
                                <select id="bankNameButton" required class="form-select" th:field="*{bankName}">
                                    <option value="" disabled selected>Select Bank</option>
                                    <option class="dropdown-item custom-back-white" style="color:black" value="Monobank">Monobank</option>
                                    <option class="dropdown-item custom-back-white" style="color:black" value="Privat bank">Privat bank</option>
                                    <option class="dropdown-item custom-back-white" style="color:black" value="Alfa bank">Alfa bank</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input id="balance" type="number" placeholder="Balance" class="form-control" th:field="*{balance}" required min="0" step="0.01"/>
                                <label class="form-label" for="balance">Sum</label>
                                <div>
                                    <small th:if="${#fields.hasErrors('balance')}"
                                           th:errors="*{balance}"
                                           th:text="${#strings.listJoin(#fields.errors('balance'), ', ')}" class="text-danger">
                                        Please provide a valid sum.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}" style="display: none;"/>
                    <input type="hidden" th:field="*{balance}" style="display: none;"/>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            var expiringDateInput = document.getElementById('expiringDate');
                            var hiddenExpiringDateInput = document.getElementById('hiddenExpiringDate');

                            expiringDateInput.addEventListener('input', function () {
                                var parts = expiringDateInput.value.split('/');
                                var isoDate = parts[1] + '-' + parts[0] + '-01';
                                hiddenExpiringDateInput.value = isoDate;
                            });
                        });
                    </script>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input id="cardHolder" type="text" placeholder="Name on card" class="form-control" th:field="*{cardHolder}" required/>
                                <label class="form-label" for="cardHolder">Name on card</label>
                                <div>
                                    <small th:if="${#fields.hasErrors('cardHolder')}"
                                           th:errors="*{cardHolder}"
                                           th:text="${#strings.listJoin(#fields.errors('cardHolder'), ', ')}" class="text-danger">
                                        Please provide a valid name.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input id="cardNumber" type="text" class="form-control" placeholder="Credit card number" th:field="*{cardNumber}" required pattern="^[0-9]{16}$">
                                <label class="form-label" for="formCardNumber">Credit card number</label>
                                <div>
                                    <small th:if="${#fields.hasErrors('cardNumber')}"
                                           th:errors="*{cardNumber}"
                                           th:text="${#strings.listJoin(#fields.errors('cardNumber'), ', ')}" class="text-danger">
                                        Please provide a valid card number.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <div class="form-outline">
                                <input type="hidden" th:field="*{expiringDate}" id="hiddenExpiringDate"/>
                                <input id="expiringDate" type="text" class="form-control" placeholder="MM/YYYY" th:field="*{expiringDate}" required pattern="^(0[1-9]|1[0-2])\/[0-9]{4}|[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$">
                                <label class="form-label" for="formExpiringDate">Expiration date</label>
                                <div>
                                    <small th:if="${#fields.hasErrors('expiringDate')}"
                                           th:errors="*{expiringDate}"
                                           th:text="${#strings.listJoin(#fields.errors('expiringDate'), ', ')}" class="text-danger">
                                        Please provide an expiring date.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-outline">
                                <input id="cvv" type="text" class="form-control" placeholder="CVV" th:field="*{cvv}" required maxlength="3" pattern="\d{3}">
                                <label class="form-label" for="formCVV">CVV</label>
                                <div>
                                    <small th:if="${#fields.hasErrors('cvv')}"
                                           th:errors="*{cvv}"
                                           th:text="${#strings.listJoin(#fields.errors('cvv'), ', ')}" class="text-danger">
                                        Please provide a CVV.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block custom-back-violet" type="submit" style="width: 30%;">Save bank card</button>
                </form>
            </div>
        </div>
    </div>
</content>
</body>
</html>
