<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/client/layout">
<head>
    <meta charset="utf-8"/>
    <title>Cash truck</title>
</head>
<body th:object="${client}">
<content layout:fragment="content" style="margin-left: 40px;">
    <h2>Incomes</h2>
    <div th:if="${not #lists.isEmpty(incomes_categories)}">
        <h4>Categories</h4>
        <div class="row">
            <div class="col-sm-6 mt-3" th:each="category : ${incomes_categories}">
                <div class="my-container card-body"
                     style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="info-card-font bold">
                        <span th:text="${category.getName}"></span>
                        <span class="card-title"
                              th:text="${#numbers.formatDecimal(category.categoryPercentage, 1, 2, 'POINT')}">0.00</span>%
                        <div><span class="card-title bold"
                                   th:text="${#numbers.formatDecimal(category.fullCategoryTransactionSum, 1, 2, 'POINT')}"></span>$
                        </div>
                    </div>
                    <div>
                        <a th:href="@{'/clients/categories/' + ${category.name}}">
                            <button class="btn btn-primary custom-back-violet mr-2">details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(incomes_categories)}" class="empty-card">
        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="card col-7 p-3 shadow-sm text-center">
                <div class="card-body">
                    <p>You have no income transactions.</p>
                    <p>Synchronize your bank card with the application or add transactions manually.</p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-4">Expenses</h2>
    <div th:if="${not #lists.isEmpty(expenses_categories)}">
        <h4>Categories</h4>
        <div class="row">
            <div class="col-sm-6 mt-3" th:each="category : ${expenses_categories}">
                <div class="my-container card-body"
                     style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="info-card-font bold">
                        <span th:text="${category.getName}"></span>
                        <span class="card-title"
                              th:text="${#numbers.formatDecimal(category.categoryPercentage, 1, 2, 'POINT')}">0.00</span>%
                        <div><span class="card-title bold"
                                   th:text="${#numbers.formatDecimal(category.fullCategoryTransactionSum, 1, 2, 'POINT')}"></span>$
                        </div>
                    </div>
                    <a th:href="@{'/clients/categories/' + ${category.name}}">
                        <button class="btn btn-primary custom-back-violet mr-2">details</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(expenses_categories)}" class="empty-card">
        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="card col-7 p-3 shadow-sm text-center">
                <div class="card-body">
                        <p>You have no expense transactions.</p>
                    <p>Synchronize your bank card with the application or add transactions manually.</p>
                </div>
            </div>
        </div>
    </div>
</content>
</body>
</html>
