<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/client/layout"
>
  <head>
    <meta charset="utf-8" />
    <title>Cash truck</title>
  </head> 
  <body th:object="${client}">
    <main layout:fragment="content">
    <div class="container">
      <div class="row">
<div class="col-sm-7" th:object="${bank_cards}">
    <div class="my-container">
        <div class="card-body" th:if="${not #lists.isEmpty(bank_cards)}" th:with="card=${bank_cards[0]}">
            <div class="row">
                <h5 class="mt-2">Bank cards</h5>
                <div class="row mt-2">
                    <div class="dropdown col-8">
                        <button class="btn btn-secondary dropdown-toggle custom-back-violet bold col-12"
                                type="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                id="selectedBankButton"
                                th:text="${card.bankName}">
                        </button>
                        <ul class="dropdown-menu">
                            <li th:each="card : ${bank_cards}">
                                <button id="bank-card-swithcer"
                                        class="dropdown-item"
                                        type="button"
                                        onclick="selectBank(this)"
                                        th:text="${card.bankName}"
                                        th:classappend="${card == bank_cards[0] ? 'selected' : ''}"
                                        th:attr="card-number=${card.cardNumber}">
                                </button>
                            </li>
                        </ul>
                    </div>   
                  <div class="col-4">
                    <a style="width:100%;" th:href="@{'/clients/bank_cards'}">
                      <button class="btn btn-primary custom-back-violet" style=" width: 100%;">Add Card</button>
                    </a>
                  </div>
                    </div>
                <div class="col-sm-7">
                    <div class="bank-card card-container mt-4">
                        <div class="bank-name-and-currency-name">
                        <div class="bank-name bankName" th:text="${card != null ? #strings.length(card.bankName) > 22 ? #strings.substring(card.bankName, 0, 22) : card.bankName : '-'}"></div>
                            <div class="currency-name">USD</div>
                        </div>
                        <div class="card-number" th:text="${card != null ? card.cardNumber : '-'}"></div>

                        <div class="card-holder-and-expiry">
                            <div class="card-holder cardHolder" th:text="${card != null ? card.cardHolder : '-'}"></div>
                        <div class="expiry expiringDate" th:text="${card != null ? #dates.format(card.expiringDate, 'MM/yyyy') : '-'}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="additional-info mt-4">        
              <div> Balance: <span class="balance" th:text="${card != null ? card.balance : '-'}"></span></div> 
              <div> Exp date: <span class="expiringDate" th:text="${card != null ? #dates.format(card.expiringDate, 'MM/yyyy') : '-'}"></span></div>
              <div> Holder: <span class="cardHolder" th:text="${card != null ? card.cardHolder : '-'}"></span></div> 
              <div> CVV: <span class="cvv" th:text="${card != null ? card.cvv : '-'}"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body" th:if="${#lists.isEmpty(bank_cards)}">
            <div class="row">
                <div class="col-sm-7">
                    <h5 class="card-title mt-3">Bank cards</h5>
                    <div class="bank-card mt-4">
                        <div class="bank-name-and-currency-name">
                            <div class="bank-name" th:text="'Bank'"></div>
                            <div class="currency-name">USD</div>
                        </div>
                        <div class="card-number" th:text="'xxxx xxxx xxxx xxxx'"></div>
                        <div class="card-holder-and-expiry">
                            <div class="card-holder" th:text="'Card Holder'"></div>
                            <div class="expiry" th:text="'Expiry Date'"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div> 
                        <a th:href="@{'/clients/bank_cards'}">
                            <button class="btn btn-primary custom-back-violet col-12 mt-2" >
                                Add Card
                            </button> 
                        </a>
                    </div>
                    <div class="additional-info mt-5">
                       <div> Balance: <span class="balance" th:text="${card != null ? card.balance : '-'}"></span></div>
                        <div> Exp date: <span th:text="${card != null ? card.expiringDate : '-'}"></span></div>
                        <div> Holder: <span th:text="${card != null ? card.cardHolder : '-'}"></span></div>
                       <div>  CVV: <span th:text="${card != null ? card.cvv : '-'}"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript"> 
       function formatCardNumber(cardNumber) {
        return cardNumber.replace(/(\d{4})/g, '$1 ').trim();
    }

    function updateCardNumber() {
        var elementsWithCardNumberClass = document.getElementsByClassName('cardNumber');
        var cards = [];
        if (cards.length > 0) {
            var formattedCardNumber = formatCardNumber(cards[0].cardNumber);

            for (var i = 0; i < elementsWithCardNumberClass.length; i++) {
                elementsWithCardNumberClass[i].innerText = formattedCardNumber;
            }
        }
    }
    window.onload = function () {
        updateCardNumber();
    };
    function selectBank(button) {
        var selectedBankName = button.innerText;
        var cards = [];
        var selectedCard = cards.find(function (card) {
            return card.bankName === selectedBankName && card.cardNumber === button.getAttribute('card-number');
        });
        document.getElementById('selectedBankButton').innerText = selectedCard.bankName;
        var elementsWithBalanceClass = document.getElementsByClassName('balance');
        for (var i = 0; i < elementsWithBalanceClass.length; i++) {
            elementsWithBalanceClass[i].innerText = selectedCard.balance;
        }

        var elementsWithCvvClass = document.getElementsByClassName('cvv');
        for (var i = 0; i < elementsWithCvvClass.length; i++) {
            elementsWithCvvClass[i].innerText = selectedCard.cvv;
        }

        var elementsWithExpiringDateClass = document.getElementsByClassName('expiringDate');
        for (var i = 0; i < elementsWithExpiringDateClass.length; i++) {
            var formattedDate = new Date(selectedCard.expiringDate).toLocaleDateString('en-US', {
                year: 'numeric',
                month: '2-digit'
            });
            elementsWithExpiringDateClass[i].innerText = formattedDate;
        }
          var elementsWithCardNumberClass = document.getElementsByClassName('cardNumber');
        for (var i = 0; i < elementsWithCardNumberClass.length; i++) {
            var formattedCardNumber = formatCardNumber(selectedCard.cardNumber);
            elementsWithCardNumberClass[i].innerText = formattedCardNumber;
        }
        var elementsWithBankNameClass = document.getElementsByClassName('bankName');
        for (var i = 0; i < elementsWithBankNameClass.length; i++) {
            elementsWithBankNameClass[i].innerText = selectedCard.bankName.substring(0, 22);
        }
        var elementsWithcardHolderClass = document.getElementsByClassName('cardHolder');
        for (var i = 0; i < elementsWithcardHolderClass.length; i++) {
            elementsWithcardHolderClass[i].innerText = selectedCard.cardHolder;
        }
    }
</script>
        <div class="col-sm-5" th:object = "${client_statistic}">
          <div class="row">
                 <div class="col-md-6 mb-3 justify-content-end">
          <div class="my-container info-card ">
            <div class="d-flex justify-content-between align-items-center">
              <img th:src="@{/images/client/cc-primary.png}" class="info-card-img" />
            </div>
            <div>Total balance</div>
            <div class="info-card-font bold" th:text="${client_statistic!=null?client_statistic.totalBalance:'-'}">$</div> 
<div  class="last_week_info_card" th:if="${client_statistic != null && (client_statistic.lastWeekIncome - client_statistic.lastWeekExpense) > 0 && client_statistic.totalBalance!=0}">
    <div class="custom-green">
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:text="${(client_statistic.lastWeekIncome - client_statistic.lastWeekExpense)/client_statistic.totalBalance * 100}"></span>%
    </div>
</div>
<div  class="last_week_info_card"th:if="${client_statistic != null && (client_statistic.lastWeekExpense - client_statistic.lastWeekIncome) > 0 && client_statistic.totalBalance!=0}">
    <div class="custom-red">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-short custom-red" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
        - <span th:text="${(client_statistic.lastWeekExpense - client_statistic.lastWeekIncome)/client_statistic.totalBalance * 100}"></span>%
    </div>
</div>
<div  class="last_week_info_card" th:if="${client_statistic != null && (client_statistic.lastWeekIncome - client_statistic.lastWeekExpense) == 0 || client_statistic.totalBalance == 0}">
    <div> 
       <span>0</span>%
    </div>
</div>
<div  class="last_month_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastMonthIncome - client_statistic.lastMonthExpense) > 0 && client_statistic.totalBalance!=0}">
    <div class="custom-green"> 
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span  th:text="${(client_statistic.lastMonthIncome - client_statistic.lastMonthExpense)/client_statistic.totalBalance * 100}"></span>%
    </div>
</div>

<div class="last_month_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastMonthIncome - client_statistic.lastMonthExpense) < 0 && client_statistic.totalBalance!=0}">
    <div class="custom-red">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-short custom-red" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
        - <span th:text="${( client_statistic.lastMonthExpense - client_statistic.lastMonthIncome)/client_statistic.totalBalance * 100}"></span>%
    </div>
</div>

<div class="last_month_info_card" style="display: none;"  th:if="${client_statistic != null && (client_statistic.lastMonthIncome - client_statistic.lastMonthExpense) == 0 || client_statistic.totalBalance == 0}">
    <div class=""> 
       <span>0</span>%
    </div>
</div>

<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastYearIncome - client_statistic.lastYearExpense) > 0 && client_statistic.totalBalance!=0}">
    <div class="custom-green">
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:text="${(client_statistic.lastYearIncome - client_statistic.lastYearExpense)/client_statistic.totalBalance * 100}"></span>%
    </div>
</div>

<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastYearIncome - client_statistic.lastYearExpense) < 0 && client_statistic.totalBalance!=0}">
    <div class="custom-red">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-short custom-red" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
        - <span th:text="${(client_statistic.lastYearExpense - client_statistic.lastYearIncome )/client_statistic.totalBalance * 100}"></span>%
    </div>
</div>

<div class="last_year_info_card" style="display: none;"  th:if="${client_statistic != null && (client_statistic.lastYearIncome - client_statistic.lastYearExpense) == 0 || client_statistic.totalBalance == 0}">
    <div> 
       <span>0</span>%
    </div>
</div>
    </div>
</div>
            <div class="col-md-6 mb-3 justify-content-end">
          <div class="my-container info-card">
            <div class="d-flex justify-content-between align-items-center">
              <img th:src="@{/images/client/green-pie-diagram.png}" class="info-card-img" />
            </div>
            <div>Income</div>
            <div class="info-card-font bold last_week_info_card" th:text="${client_statistic.lastWeekIncome}"></div>
            <div class="info-card-font bold last_month_info_card" th:text="${client_statistic.lastMonthIncome}" style="display: none;"></div>
            <div class="info-card-font bold last_year_info_card" th:text="${client_statistic.lastYearIncome}" style="display: none;"></div>
<div class="last_week_info_card" th:if="${client_statistic != null && client_statistic.lastWeekIncome > 0 && client_statistic.totalIncomeSum!=0}">
    <div class="custom-green">
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:text="${client_statistic.lastWeekIncome/client_statistic.totalIncomeSum*100}"></span>%
    </div>
</div>  
<div class="last_week_info_card" th:if="${client_statistic != null && (client_statistic.lastWeekIncome == null || client_statistic.lastWeekIncome == 0)}">
    <div> 
       <span>0</span>%
    </div>
</div>
<div class="last_month_info_card" style="display: none;" th:if="${client_statistic != null && client_statistic.lastMonthIncome > 0 && client_statistic.totalIncomeSum!=0}">
    <div class="custom-green">
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:text="${client_statistic.lastMonthIncome/client_statistic.totalIncomeSum*100}"></span>%
    </div>
</div>  
<div class="last_month_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastMonthIncome == null || client_statistic.lastMonthIncome == 0)}">
    <div> 
       <span>0</span>%
    </div>
</div>
<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null && client_statistic.lastYearIncome > 0 && client_statistic.totalIncomeSum!=0}">
    <div class="custom-green">
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:text="${client_statistic.lastYearIncome/client_statistic.totalIncomeSum*100}"></span>%
    </div>
</div>  
<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastYearIncome == null || client_statistic.lastYearIncome == 0)}">
    <div> 
       <span>0</span>%
    </div>
</div> 
</div>
</div>
           <div class="col-md-6 justify-content-end">
          <div class="my-container info-card" th:object="${client_statistic}">
            <div class="d-flex justify-content-between align-items-center">
              <img th:src="@{/images/client/transfer.png}" class="info-card-img" />
            </div>
            <div>Profit</div>
            <div class="info-card-font bold last_week_info_card" th:text="${client_statistic.lastWeekIncome-client_statistic.lastWeekExpense}"></div>
            <div class="info-card-font bold last_month_info_card" th:text="${client_statistic.lastMonthIncome-client_statistic.lastMonthExpense}" style="display: none;"></div>
            <div class="info-card-font bold last_year_info_card" th:text="${client_statistic.lastYearIncome-client_statistic.lastYearExpense}" style="display: none;"></div>
<div class="last_week_info_card"  th:if="${client_statistic != null && ((client_statistic.lastWeekExpense >= 0 && client_statistic.lastWeekIncome > 0)||(client_statistic.lastWeekExpense > 0 && client_statistic.lastWeekIncome >= 0)) && client_statistic.lastWeekIncome > client_statistic.lastWeekExpense && ((client_statistic.totalBalance - client_statistic.lastWeekIncome)!=0)}">
    <div class="custom-green">
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:if="${(client_statistic.totalBalance - client_statistic.lastWeekIncome) > 0}"> 
            <span th:text="${( client_statistic.lastWeekIncome - client_statistic.lastWeekExpense) / (client_statistic.totalBalance - client_statistic.lastWeekIncome)*100 }"></span>
         </span>
          <span th:if="${( client_statistic.lastWeekIncome - client_statistic.totalBalance) > 0}"> 
            <span th:text="${( client_statistic.lastWeekIncome - client_statistic.lastWeekExpense) / (client_statistic.lastWeekIncome - client_statistic.totalBalance)*100}"></span>
         </span>% 
    </div>
</div>
<div class="last_week_info_card" th:if="${client_statistic != null&& ((client_statistic.lastWeekExpense > 0 && client_statistic.lastWeekIncome > 0)||(client_statistic.lastWeekExpense > 0 && client_statistic.lastWeekIncome >= 0)) && client_statistic.lastWeekExpense > client_statistic.lastWeekIncome  && ((client_statistic.totalBalance + client_statistic.lastWeekExpense)!=0)}">
    <div class="custom-red">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-short custom-red" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
        - <span th:text="${(client_statistic.lastWeekExpense - client_statistic.lastWeekIncome) / (client_statistic.totalBalance+client_statistic.lastWeekExpense)*100}"></span>%
    </div>
</div>
<div class="last_week_info_card" th:if="${client_statistic != null && (client_statistic.lastWeekExpense == 0 && client_statistic.lastWeekIncome == 0)}">
    <div>0%</div>
</div>
<div class="last_month_info_card" style="display: none;" th:if="${client_statistic != null && ((client_statistic.lastMonthExpense > 0 || client_statistic.lastMonthIncome > 0)||(client_statistic.lastMonthExpense > 0 && client_statistic.lastMonthIncome >= 0)) && client_statistic.lastMonthIncome > client_statistic.lastMonthExpense && ((client_statistic.totalBalance - client_statistic.lastMonthExpense)!=0)}">
     <span th:if="${(client_statistic.totalBalance - client_statistic.lastMonthIncome) != 0}" || ( client_statistic.lastMonthIncome - client_statistic.totalBalance) != 0>
    <div class="custom-green">
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:if="${(client_statistic.totalBalance - client_statistic.lastMonthIncome) != 0}">
            <span th:text="${( client_statistic.lastMonthIncome - client_statistic.lastMonthExpense) / (client_statistic.totalBalance - client_statistic.lastMonthIncome)*100 }"></span>
         </span>
          <span th:if="${( client_statistic.lastMonthIncome - client_statistic.totalBalance) != 0}">
            <span th:text="${( client_statistic.lastMonthIncome - client_statistic.lastMonthExpense) / (client_statistic.lastMonthIncome - client_statistic.totalBalance)*100}"></span>
         </span>%
        </div>
     </span>
    <div class="custom-green">
    <span th:if="${(client_statistic.totalBalance - client_statistic.lastMonthIncome) == 0}">
                <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
          +  <span>100%</span>
         </span>
    </div>

</div>
<div class="last_month_info_card" style="display: none;" th:if="${client_statistic != null&& ((client_statistic.lastMonthExpense > 0 || client_statistic.lastMonthIncome > 0)||(client_statistic.lastMonthExpense > 0 && client_statistic.lastMonthIncome > 0)) && client_statistic.lastMonthExpense > client_statistic.lastMonthIncome  && ((client_statistic.totalBalance + client_statistic.lastMonthExpense)!=0)}">
    <div class="custom-red">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-short custom-red" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
        - <span th:text="${(client_statistic.lastMonthExpense - client_statistic.lastMonthIncome) / (client_statistic.totalBalance+client_statistic.lastMonthExpense)*100}"></span>%
    </div>
</div>
<div class="last_month_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastMonthExpense-client_statistic.lastMonthIncome == 0 )}">
    <div> 0%</div>
</div>
<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null && ((client_statistic.lastYearExpense > 0 && client_statistic.lastYearIncome > 0)||(client_statistic.lastYearExpense > 0 && client_statistic.lastYearIncome >= 0)) && client_statistic.lastYearExpense < client_statistic.lastYearIncome && ((client_statistic.totalBalance - client_statistic.lastYearExpense)!=0)}">
    <div class="custom-green">
        <svg class="custom-green bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>        + <span th:if="${(client_statistic.totalBalance - client_statistic.lastYearIncome) > 0}">
            <span th:text="${( client_statistic.lastYearIncome - client_statistic.lastYearExpense) / (client_statistic.totalBalance-client_statistic.lastYearIncome)*100 }"></span>
         </span>
          <span th:if="${( client_statistic.lastYearIncome - client_statistic.totalBalance) > 0}"> 
            <span th:text="${( client_statistic.lastYearIncome - client_statistic.lastYearExpense) / (client_statistic.lastYearIncome - client_statistic.totalBalance)*100}"></span>
         </span>% 
        </div>
</div>

<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null&& ((client_statistic.lastYearExpense >= 0 && client_statistic.lastYearIncome > 0)||(client_statistic.lastYearExpense > 0 && client_statistic.lastYearIncome >= 0)) && client_statistic.lastYearExpense > client_statistic.lastYearIncome && ((client_statistic.totalBalance + client_statistic.lastYearExpense)!=0)}">
    <div class="custom-red">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-down-short custom-red" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
        - <span th:text="${(client_statistic.lastYearExpense - client_statistic.lastYearIncome) / (client_statistic.totalBalance+client_statistic.lastYearExpense)*100}"></span>%
    </div>
</div>
<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastYearExpense == 0)}">
    <div> 0%</div>
</div>
          </div>
          </div>
           <div class="col-md-6 justify-content-end">
          <div class="my-container info-card">
            <div class="d-flex justify-content-between align-items-center">
              <img th:src="@{/images/client/paypal.png}" class="info-card-img" />
            </div>
            <div>Expenses</div>
            <div class="info-card-font bold last_week_info_card" th:text="${client_statistic.lastWeekExpense}"></div>
            <div class="info-card-font bold last_month_info_card" th:text="${client_statistic.lastMonthExpense}" style="display: none;"></div>
            <div class="info-card-font bold last_year_info_card" th:text="${client_statistic.lastYearExpense}" style="display: none;"></div>
<div class="last_week_info_card" th:if="${client_statistic != null && client_statistic.lastWeekExpense > 0 && client_statistic.totalExpenseSum!=0}">
    <div class="custom-red">
        <svg class="custom-red bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:text="${client_statistic.lastWeekExpense/client_statistic.totalExpenseSum*100}"></span>%
    </div>
</div>  
<div class="last_week_info_card" th:if="${client_statistic != null && (client_statistic.lastWeekExpense == null || client_statistic.lastWeekExpense == 0)}">
    <div> 
       <span>0</span>%
    </div>
</div>
<div class="last_month_info_card" style="display: none;" th:if="${client_statistic != null && client_statistic.lastMonthExpense > 0 && client_statistic.totalExpenseSum!=0}">
    <div class="custom-red">
        <svg class="custom-red bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:text="${client_statistic.lastMonthExpense/client_statistic.totalExpenseSum*100}"></span>%
    </div>
</div>  
<div class="last_month_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastMonthExpense == null || client_statistic.lastMonthExpense == 0)}">
    <div> 
       <span>0</span>%
    </div>
</div>
<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null && client_statistic.lastYearExpense > 0 && client_statistic.totalExpenseSum!=0}">
    <div class="custom-red">
        <svg class="custom-red bi bi-arrow-up-short" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
        </svg>
        + <span th:text="${client_statistic.lastYearExpense/client_statistic.totalExpenseSum*100}"></span>%
    </div>
</div>  
<div class="last_year_info_card" style="display: none;" th:if="${client_statistic != null && (client_statistic.lastYearExpense == null || client_statistic.lastYearExpense == 0)}">
    <div > 
       <span>0</span>%
    </div>
</div> 
</div>
</div>
    </div>
  </div>
</div>
</div>
 
<div class="container mt-4">
  <div class="row">
    <div class= "mb-3">
      <div class="my-container p-2">
                  <div><h5 class="card-title text-center mb-0 mt-3 h4">Statistics</h5></div>
<div class="card-body justify-content-center">
    <input type="radio" class="btn-check custom-back-white btn-lg" name="duration" id="dur1" autocomplete="off" checked>
    <label class="btn h3 mx-3" style="width: 20%;" for="dur1">Last week</label>
    <input type="radio" class="btn-check custom-back-white btn-lg" name="duration" id="dur2" autocomplete="off">
    <label class="btn h3 mx-3" style="width: 20%;" for="dur2">Last month</label>
    <input type="radio" class="btn-check custom-back-white btn-lg" name="duration" id="dur3" autocomplete="off">
    <label class="btn h3 mx-3" style="width: 20%;" for="dur3">Last year</label>
</div>
      </div> 
    </div> 
                  <script> 
                var dur1 = document.getElementById('dur1');
                var dur2 = document.getElementById('dur2');
                var dur3 = document.getElementById('dur3'); 
                
                dur1.addEventListener('change', function () {
                    toggleVisibility('last_week_info_card');
                });

                dur2.addEventListener('change', function () {
                    toggleVisibility('last_month_info_card');
                });

                dur3.addEventListener('change', function () {
                    toggleVisibility('last_year_info_card');
                });
                function toggleVisibility(selectedDiv) {
                    document.querySelectorAll('.last_week_info_card, .last_month_info_card, .last_year_info_card')
                        .forEach(function (div) {
                            div.style.display = 'none';
                        });
                    var divsWithClass = document.querySelectorAll('.' + selectedDiv);
                    divsWithClass.forEach(function(div) {
                      div.style.display = 'block';
                    });
                }
            </script>

      <div class="col-sm-12 mb-5">
      <div class="my-container">
        <div class="card-body">
          <h5 class="card-title text-center">Transactions</h5>
              <div class="disp d-flex justify-content-center">
                  <input type="radio" class="btn-check custom-back-white" name="options" id="income_switch" autocomplete="off" checked>
                  <label class="btn" style="width: 25%;" for="income_switch">Income</label>
                  <input type="radio" class="btn-check custom-back-white" name="options" id="expenses_switch" autocomplete="off">
                  <label class="btn" style="width: 25%;"  for="expenses_switch">Expenses</label> 
                </div>
                <div class="income_transactions">
                <div class="mb-2 "  style="display: flex; align-items: center; border-bottom: 1px solid #ccc; padding-bottom: 5px;"></div>
                <div  th:each="income : ${client_statistic.incomes}">
                    <div class="mb-2" style="display: flex; align-items: center; border-bottom: 1px solid #ccc; padding-bottom: 5px;"> 
                    <img th:src="@{/images/client/cc-primary.png}" style="width: 30px; height: 30px;" class="info-card-img"/> 
                    <span th:text="${income.bankTransaction.name}"></span><br>
                    <span th:text="${income.bankTransaction.sum}" class="info-card-font bold" style="margin-left: auto; margin-right: 30px;"></span><br>
                    <span th:text="${#temporals.format(income.bankTransaction.time, 'dd.MM.yy')}"></span>
                    </div> 
                </div>
                </div>
                <div class="expense_transactions" style="display: none;">
                <div class="mb-2"  style="display: flex; align-items: center; border-bottom: 1px solid #ccc; padding-bottom: 5px;"></div>
                <div th:each="expense : ${client_statistic.expenses}">
                    <div class="mb-2" style="display: flex; align-items: center; border-bottom: 1px solid #ccc; padding-bottom: 5px;"> 
                    <img th:src="@{/images/client/cc-primary.png}" style="width: 30px; height: 30px;" class="info-card-img"/> 
                    <span th:text="${expense.bankTransaction.name}"></span><br>
                    <span th:text="${expense.bankTransaction.sum}" class="info-card-font bold" style="margin-left: auto; margin-right: 30px;"></span><br>
                    <span th:text="${#temporals.format(expense.bankTransaction.time, 'dd.MM.yy')}"></span>
                    </div> 
                </div> 
                </div>
            <div th:if="${client_statistic.incomes.size()>0}" class="income_transactions" >
           <div class="d-flex justify-content-center align-items-center ">
            <a th:href="@{'/clients/categories'}"  >
                <button class="btn btn-primary custom-back-violet" style="width: 160px;">Details</button>
            </a> 
           </div>
           </div>
           <div th:if="${client_statistic.expenses.size() > 0} "  class = "expense_transactions" style="display: none;">
           <div class="d-flex justify-content-center align-items-center ">
            <a th:href="@{'/clients/categories'}"  >
                <button class="btn btn-primary custom-back-violet" style="width: 160px;">Details</button>
            </a>
           </div>
          </div>
          </div>
      </div>
      </div>
      </div>
      </div>
      <script> 
                var income = document.getElementById('income_switch');
                var expense = document.getElementById('expenses_switch'); 
                
                income.addEventListener('change', function () {
                    income_expense_switch('income_transactions');
                });

                expense.addEventListener('change', function () {
                    income_expense_switch('expense_transactions');
                }); 

                function income_expense_switch(selectedDiv) {
                    document.querySelectorAll('.income_transactions, .expense_transactions')
                        .forEach(function (div) {
                            div.style.display = 'none';
                        });
                    var divsWithClass = document.querySelectorAll('.' + selectedDiv);
                    divsWithClass.forEach(function(div) {
                      div.style.display = 'block';
                    });
                }
            </script>
</main>
  </body>
</html>
