<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/client/layout"
>
<head>
    <meta charset="utf-8" />
    <title>Cash truck</title>
</head>
<body th:object="${user}">
<main layout:fragment="content" >
    <form method="post" th:object="${email}" th:action="@{'/clients/emails/send'}" enctype="multipart/form-data">
        <div id="userId" style="display: none;" data-th-text="${user.id}"></div>
        <div id="composeForm" class="card mx-auto" style="max-width: 600px;">
            <div class="card-body">
                <form method="post" th:object="${email}" th:action="@{'/clients/emails/send'}" enctype="multipart/form-data">
                    <!-- To: -->
                    <div class="mb-3">
                        <label class="form-label">To:</label>
                        <select th:field="*{to}" class="form-control">
                            <option th:each="manager : ${managers}"
                                    th:value="${manager.email}"
                                    th:text="${manager.email}"></option>
                        </select>
                    </div>
                    <!-- Subject: -->
                    <div class="mb-3">
                        <label class="form-label">Subject:</label>
                        <input type="text"
                               th:field="*{subject}"
                               class="form-control"
                               placeholder="Subject">
                    </div>
                    <!-- Message: -->
                    <div class="mb-3">
                        <label class="form-label">Message:</label>
                        <textarea class="form-control"
                                  th:field="*{email}"
                                  rows="5"
                                  placeholder="Enter your message here..."></textarea>
                    </div>
                    <!-- Actions: -->
                    <div class="d-flex">
                        <button type="submit" class="btn btn-primary mr-3">Send</button>
                        <label class="btn btn-secondary mb-0">
                            Attach File
                            <input type="file" name="attachment" hidden>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </form>
</main>
</body>
</html>
