<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/client/layout"
>
<head>
    <meta charset="utf-8"/>
    <title>Cash truck</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body th:object="${client}">
<main layout:fragment="content">
    <div class="sr-root">
        <div class="sr-main">
            <h1>Accept a payment</h1>
            <form id="payment-form">
                <div id="payment-element"></div>
                <div id="error-messages"></div>
                <button>Pay</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>