<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/client/layout"
>
<head>
    <meta charset="utf-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Cash truck</title>
</head>
<body th:object="${client}">
<main layout:fragment="content">
    <div class="sr-root">
        <div class="sr-main">
            <h1>Accept a payment</h1>
            <form id="payment-form">
                <div style="display: none" id="payment_data-price" th:text="${payment_data.price}"></div>
                <div style="display: none" id="payment_data-plan" th:text="${payment_data.subscriptionPlan}"></div>
                <div style="display: none" id="user_data-id" th:text="${client.id}"></div>
                <div id="payment-element"></div>
                <div id="error-messages"></div>
                <button>Pay</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>