<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/client/layout"
>
<head>
    <meta charset="utf-8"/>
    <title>Cash truck</title>
</head>
<body th:object="${client}">
<main layout:fragment="content">
    <div class="sr-root">
        <div class="sr-main">
            <h1>Accept a payment</h1>
            <form id="payment-form">
                <div id="payment-element"></div>
                <div id="error-messages"></div>
                <button>Pay</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>