<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout/client/layout"
>
  <head>
    <meta charset="utf-8" />
    <title>Cash truck</title>
  </head>  
  <body th:object="${client}" layout:fragment="content">
  
<div class="container mt-4">
    <div class="col-sm-7 mx-auto">
        <div class="my-container">
            <div class="card-body text-center ">
                <h4 class="mb-4">Category</h4> 
                <ul class="list-group mb-4">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div> 
                            <span> <img src="/static/images/client/wallet-info.png"></span>
                            <span class="transaction-name">Transaction Name </span>
                        </div>
                        <div>
                            <span class="transaction-price m-4">50.00$</span>
                            <span class="transaction-date">2023-11-16</span>
                        </div>
                    </li> 
                </ul>
             </div>
        </div>
    </div>
</div> 
</main>
  </body>
</html>
